$tool-bar-padding-y: 5px;
$tool-bar-gutter: 10px;
$tool-size: 32px;
$tool-font-size: 20px;

.painter-tool-bar {
  position: absolute;
  top: 0;
  left: 0;
  padding: $tool-bar-padding-y $tool-bar-gutter / 2;
  display: flex;
  align-items: center;
  border-radius: calc(#{$tool-size / 2} + #{$tool-bar-padding-y}) / 50%;
  box-shadow: 0 2px 5px 0 #b9b9b9;

  > .painter-tool + .painter-tool {
    margin-left: $tool-bar-gutter;
  }

  &.verticle {
    flex-direction: column;

    > * + * {
      margin-top: $tool-bar-gutter;
      margin-left: 0;
    }
  }
}

.painter-tool {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: $tool-size;
  height: $tool-size;
  font-size: $tool-font-size;
  line-height:  $tool-size / $tool-font-size;
  border-radius: 50%;
  cursor: pointer;
}
