:host {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  transform-origin: center;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1.2);
  }
}

:host(circle) {
  border-radius: 50%;
}
