<div class="canvas">
  <app-painter-canvas [width]="width" [height]="height"></app-painter-canvas>
</div>
<table class="grid">
  <tr>
    <td><div class="scratch-point">x</div></td>
    <td><div class="scratch-point">x</div></td>
    <td><div class="scratch-point">x</div></td>
  </tr>
  <tr>
    <td><div class="scratch-point">x</div></td>
    <td><div class="scratch-point">x</div></td>
    <td><div class="scratch-point">x</div></td>
  </tr>
  <tr>
    <td><div class="scratch-point">x</div></td>
    <td><div class="scratch-point">x</div></td>
    <td><div class="scratch-point">x</div></td>
  </tr>
</table>
