$control-padding-main-axis: 8px;
$control-padding-cross-axis: 4px;
$control-border-width: 1px;
$item-size: 24px;
$control-cross-height: $control-padding-cross-axis * 2 + $control-border-width * 2 + $item-size;

:host ::ng-deep {
  display: inline-flex;
  align-items: center;
  padding: $control-padding-cross-axis $control-padding-main-axis;
  width: auto;
  border: $control-border-width solid rgb(75, 75, 75);
  border-radius: #{$control-cross-height / 2} / 50%;

  > * + * {
    margin-left: 5px;
  }

  > app-painter-control-item {
    width: 15px;
    height: 15px;
  }
}
