$padding: 0.5rem;
$height: 3rem;

:host {
  display: inline-flex;
  align-items: center;
  padding: $padding;
  height: $height;
  width: auto;
  border-radius: $height / 2;
  background-color: black;

  > control-item + control-item {
    margin-left: 0.5rem;
  }

  &.verticle {
    height: auto;
    width: $height;

    > control-item + control-item {
      margin-left: 0;
      margin-top: 0.5rem;
    }
  }
}
