$padding: 5px;
$height: $padding * 2 + 24px;

:host ::ng-deep {
  display: inline-flex;
  align-items: center;
  padding: $padding;
  height: $height;
  width: auto;
  border-radius: $height / 2;
  border: 1px solid #eee;

  > app-control-item + app-control-item {
    margin-left: 0.5rem;
  }

  &.verticle {
    height: auto;
    width: $height;

    > app-control-item + app-control-item {
      margin-left: 0;
      margin-top: 0.5rem;
    }
  }
}
