:host {
  overflow: hidden;
}

#canvas {
  border: 1px solid;
}

.painter {
  position: relative;
  display: inline-block;
  width: auto;
}

#main-control {
  position: absolute;
  top: 24px;
  left: 0;
}

.palette-tool {
  width: 75%;
  height: 75%;
  border: none;
  border-radius: 50%;
  background-color: #e91919;
  cursor: pointer;

  input {
    visibility: hidden;
  }
}
