*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}


p {
  margin: 0;
}

td, th {
  padding: 0;
}

ol,
ul,
dl {
  margin: 0;
  padding-left: 0;
  list-style-position: inside;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin: 0;
}

dt {
  font-weight: 700;
}

dd {
  font-weight: normal;
  margin-left: 0; // Undo browser default
  margin-bottom: 1rem;
}
