<div class="palette">
  <div class="palette-color-picker" style="width: 200px; height: 100px; background-color: #eee;">
    <!-- <canvas #colorPanel></canvas> -->
  </div>
  <div class="palette-body">
    <div class="palette-control-panel">
      <div>
        <button class="palette-color-display">
          <div class="palette-color-display-copy-icon"></div>
        </button>
      </div>
      <div class="palette-control-panel-content">
        <div #mainColorInterval class="palette-color-slider">
        </div>
        <div #opacitySlider class="palette-color-slider">
        </div>
      </div>
    </div>
    <div class="palette-color-label">
      <input type="text" class="palette-hex-control">
    </div>
  </div>
</div>
