<div class="palette">
  <div class="palette-color-picker">
    <canvas #colorPicker></canvas>
  </div>
  <div class="palette-body">
    <div class="palette-control-panel">
      <div>
        <button class="palette-color-display">
          <i class="palette-color-display-copy-icon"></i>
        </button>
      </div>
      <div>
        <div #mainColorInterval class="palette-color-slider">
          <!-- <canvas #mainColorSlider></canvas> -->
        </div>
        <div #opacitySlider class="palette-color-slider">
          <!-- <canvas #alphaSlider></canvas> -->
        </div>
      </div>
    </div>
    <div class="palette-color-label">
      <input type="text" class="palette-hex-control" />
    </div>
  </div>
</div>
